pandas
numpy
unidecode
openpyxl
spacy
tqdm
geopandas
shapely
folium
seaborn
matplotlib
nbconvert
jupyter
pyyaml 
ipykernel
# Modelo de Português do spaCy (Link Direto)
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0-py3-none-any.whl